<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game Options</title>
    <link rel="stylesheet" href="../static/css/game.css">
</head>
<body>
    {% extends 'layout.html' %}

    {% block content %}
    <div id="options">
        <a href="/result?id=rock"><img src="../static/images/rock.png" alt="rock"></a>
        <a href="/result?id=paper"><img src="../static/images/paper.png" alt="paper"></a>
        <a href="/result?id=scissors"><img src="../static/images/scissors.png" alt="scissors"></a>
        <a href="/result?id=jarrett"><img src="../static/images/jarrett.png" alt="jarrett"></a>
    </div>
    {% endblock %}
</body>
</html>