<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rock Paper Scissors Game</title>
</head>
<body>
    <h1>Choose Your Move</h1>
    <div id="options">
        <a href="/result?id=rock">Rock</a>
        <a href="/result?id=paper">Paper</a>
        <a href="/result?id=scissors">Scissors</a>
        <a href="/result?id=jarrett">Jarrett</a>
    </div>
</body>
</html>