<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="../static/css/layout.css">
</head>
<body>
    <header>
    <h1>Rock Paper Scissors Game, welcome in!</h1>
    <nav>
        <a href="game.html">Start Game</a>
        <a href="index.html">Reset</a>
    </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Our Rock Paper Scissors game is one of the best. Enough said.</p>
    </footer>
</body>
</html>