<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    // make sure to link the style sheets
</head>
<body>
    <header>
    <h1>Rock Paper Scissors Game, welcome in!</h1>
    <nav>
        <ul>
            <li>Home</li>
            <li>About Rock Paper Scissors</li>
            <li>How to play?</li>
        </ul>
    </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Our Rock Paper Scissors game is one of the best</p>
    </footer>
</body>
</html>