<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'layout.html' %}

    {% block content %}
        <h1>Welcome User!</h1>
            <div id="options">
                // We can change and update as we go
                <a href="/result?id=rock.png"> // rock
                    <p>Display rock</p>
                </a>
                <a href="/result?id=paper.png"> // paper
                   <p>Display paper</p>
                </a>
                <a href="/result?id=scissors.png"> // scissors
                   <p>Display scissors</p>
                </a>
                <a href="/result?id=jarrett.png"> // random image
                   <p>Display custom image</p>
                </a>
            </div>
    {% endblock %}
</body>
</html>